{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, 
    dignissimos nemo. Tempora voluptatum architecto ut aut nam? Temporibus
     id neque numquam aut quidem recusandae aspernatur consectetur quisquam 
     repellendus excepturi incidunt, suscipit laudantium dolor quod cupiditate 
     iure fugit repellat? Autem repellendus esse cupiditate totam sed saepe vitae tempora
      sunt explicabo eaque, nostrum corporis aliquid harum dolores dignissimos illum! Ea,
       eius quae officiis, perspiciatis maiores labore temporibus dicta accusamus quaerat 
       totam in a culpa dolores nulla molestias soluta corporis. Harum sint voluptas a id,
        unde illum autem amet earum eligendi! Ducimus id possimus nulla obcaecati nihil si
        t magni voluptates excepturi quis voluptatum!</p>
{% endblock %}